
@model eVisa.Models.RegisterViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h6></h6>

@using (Html.BeginForm("View", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="border">
        <div class="panel-default modal-body">
            <div class="">
                <h4>View account</h4>
            </div>
            <div class="">
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.AntiForgeryToken()

                        @* @Html.ValidationSummary()*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayFor(m => m.UserName, new { @class = " form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Model.Email
                                @* @Html.EditorFor(m => m.Email,new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayFor(m => m.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel-footer modal-footer">
                <div class="form-group">

                    <a href="/Admin/" class="btn btn-success">
                        <span class="glyphicon glyphicon-backward"></span>
                        Back
                    </a>
                    <a href="/Account/EditProfile/@Model.Id" class="btn btn-success">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </a>

                </div>
            </div>
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function (e) {
           
          
        });

       
    </script>
}




