@model eVisa.ViewModel.HomeView
@{
    ViewBag.Title = "Kingdom Of Cambodia Ministry Of Foreign Affairs & International Cooperation";
    var i = 0;
    var j = 0;

    eVisa.Function.BaseFunction fun = new eVisa.Function.BaseFunction();
    Dictionary<int, string> Menus = (Dictionary<int, string>)ViewBag.MenuList;
    
    }
<div class="row">
    <div class="slider">
        <ul class="slides">
            @foreach (var item in Model.ImageView)
            {
                <li>
                    <img src="@item.Url" />
                </li>
            }
        </ul>
    </div>
</div>
<div class="row" style="margin-top: -60px; margin-bottom: 0px;">
    <div class="content">
        <div class="container">
            <div class="col l8 sm12">
                <div class="" style="margin-top: 15px;">
                    @if (@Model.PageAnnounment != null)
                    {
                        <div class="announcement-heading">
                            <h1>@Model.PageAnnounment.Title</h1>
                            @Html.Raw(Model.PageAnnounment.Content)
                        </div>
                    }

                    @if (@Model.Pageview != null)
                    {
                        <h1>@Model.Pageview.Title</h1>
                        @Html.Raw(Model.Pageview.Content)
                    }

                    <h1>Tourist visa</h1>
                    <table class="table table-bordered">
                        @foreach (var item in Model.TouristTable)
                        {
                            <tr class="@(item.Header ? "success" : "")">
                                <td style="vertical-align: top; width: 200px;"> @item.Name </td>
                                <td style="vertical-align:top;"> @item.Text </td>
                            </tr>
                        }
                    </table>

                    <h1>Name of Port(View Map)</h1>
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model.NameofPort)
                            {
                                <tr class="@(item.Header ? "success" : "")">
                                    <td width="75%"> @item.Name </td>
                                    <td width="10%"> @item.Border </td>
                                    <td width="10%"> @item.Entry </td>
                                    <td width="20%"> @item.Exit </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col l4 sm12" style="margin-top: 8px;">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-location-arrow"></i>
                            E-Visa
                        </div>
                        <div class="collapsible-body" style="padding: 15px;">
                            <div class="support ">
                                <div class="support-item ">
                                    <a href="/Home/CheckStatus">
                                        <i class="fa fa-download"></i>
                                        @Menus[20]
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="/Home/Apply">
                                        <i class="fa fa-check-square-o"></i>
                                        @Menus[21]
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="/Home/SearchReferenceNumber">
                                        <i class="fa fa-search"></i>
                                        @Menus[24]
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="/Home/FQLogin">
                                        <i class="fa fa-star-o"></i>
                                        @Menus[22]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-tablet"></i>
                            Online Support (24/7)
                        </div>
                        <div class="collapsible-body" style="padding: 15px;">
                            <div class="support ">
                                <div class="support-item ">
                                    <a href="#"> <span class="fa fa-skype fa-lg fa-fw">  </span>  Skype </a>
                                </div>
                                <div class="support-item">
                                    <a href="#">
                                        <span class="fa fa-dollar fa-lg fa-fw">  </span>  Payment Support Chat
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="#">
                                        <span class="fa fa-photo fa-lg fa-fw">  </span> Photo Support Chat
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="#">
                                        <span class="fa fa-wrench fa-lg fa-fw">  </span> Tech Support Chat
                                    </a>
                                </div>
                                <div class="support-item ">
                                    <a href="#">
                                        <span class="fa fa-info-circle fa-lg fa-fw">  </span> General Info Support Chat
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-map-marker"></i>
                            Map
                        </div>
                        <div class="collapsible-body align-center" style="padding: 15px;">
                            <a href="/Information/Map">
                                <img src="/Images/Images/Home/map.png" style=" display: inline; border: 1px solid #ddd;" class="img-responsive" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-file-photo-o"></i>
                            Photo Guidelines
                        </div>
                        <div class="collapsible-body align-center" style="padding: 15px;">
                            <a href="/Information/Guidelines">
                                <img src="/Images/Images/Home/guide.png" style="display: inline; border: 1px solid #ddd;" class="img-responsive" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-picture-o"></i>
                            Cambodia Photo Galleries
                        </div>
                        <div class="collapsible-body" style="padding: 15px;">
                            <embed type="application/x-shockwave-flash"
                                   src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf"
                                   width="99.50%"
                                   height="300px"
                                   flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F107288189848824308171%3Falt%3Drss%26kind%3Dphoto%26access%3Dpublic%26psc%3DF%26q%26uname%3D107288189848824308171"
                                   pluginspage="http://www.macromedia.com/go/getflashplayer" />
                            <span style="color: rgb(153, 153, 153); font-size: 12px; z-index:1;">
                                <a href="https://picasaweb.google.com/107288189848824308171" target="_blank">
                                    <i>(Click here to see more)</i>
                                </a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <i class="fa fa-info-circle"></i>
                            Information
                        </div>
                        <div class="collapsible-body" style="padding: 15px;">
                            @if (@Model.PageInformation != null)
                            {
                                @Html.Raw(Model.PageInformation.Content)
                            }
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slider();
    });
    $(document).ready(function (e) {

        //$('.carousel').carousel({
        //    interval: 3000
        //});

        $("#pn1").click(function (e) {
                e.preventDefault();
                $("#p1-dialog").modal();
              
            });
        
            $("#pn2").click(function (e) {
                e.preventDefault();
                $("#p2-dialog").modal();
            });
        
            $("#pn3").click(function (e) {
                e.preventDefault();
                $("#p3-dialog").modal();
                
            });
        
    });

    //  $(document).ready(function () {

    //$('#tab-header a').click(function (e) {
    //    e.preventDefault()
    //    $(this).tab('show')
    //})

    //jssor_slider1_starter = function (containerId) {
    //    var options = {
    //        $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
    //        $SlideDuration: 800,
    //        $AutoPlay: true,
    //        $AutoPlayInterval: 1500,

    //        $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
    //            $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
    //            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
    //            $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
    //            $AutoCenter: 0,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
    //            $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
    //            $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
    //            $SpacingX: 0,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
    //            $SpacingY: 0,                                   //[Optional] Vertical space between each item in pixel, default value is 0
    //            $Orientation: 1,                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1

    //        }
    //    };
    //    var jssor_slider1 = new $JssorSlider$(containerId, options);
    //};

    //jssor_slider1_starter('slider1_container');
    // });
</script>


    
 }

